@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
    box-sizing: border-box;
}
body {
    display: flex;
    font-family: "Poppins", sans-serif;
    line-height: 1.7;
    padding: 0;
    margin: 0;
    /* overflow-y: hidden; */
}
main header,
nav header {
    font-weight: bold;
    font-size: 1.5em;
}
/* nav */
nav {
    border-right: 3px solid #333;
    flex-grow: 2;
}
nav header {
    padding: 15px;
    font-weight: thin;
}
nav a {
    padding: 15px;
    display: block;
    border-top: 1px solid #333;
    text-decoration: none;
    color: #333;
    cursor: pointer;
}

/* main */
main {
    padding: 20px;
    height: 100vh;
    overflow-y: scroll;
}
.main-section code {
    display: block;
    text-align: left;
    white-space: pre-line;
    position: relative;
    word-break: normal;
    word-wrap: normal;
    line-height: 2;
    background-color: #f7f7f7;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
}
#hello_world code > pre {
    padding: 0;
    margin: 0;
}

/* media query */
@media (max-width: 576px) {
    body {
        flex-direction: column;
    }
    nav {
        border-bottom: 1px solid #333;
        height: 300px;
        overflow-y: scroll;
    }
    main {
        overflow-y: unset;
    }
}
